html{
    overflow-x: hidden;
}

body{
   background-color: #75797c;
   background-image: url(../images/footer_lodyas.png);
}

a{
    color: #00eaa1;
}

#splash {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    background-color:#363535;
    z-index: 100;
    font-family: 'Spicy Rice', cursive;
    color: #b0abaa;
    font-size: 20vh;
}
.camera{
  width: 30%;
}

.userHeader{
    display: none;
}

/*Inicio sin registro*/

.registry{
    background-color: white;
    width: 40em;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 3em;
    border-radius: 5px;
    margin-left: 25em;
}

.registry h1{
    text-align: center;
}

button.loginBtn {
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background: #00eaa1;
    color: #FFF;
    padding: 0.5em 1em;
    border-radius: 0.5em;
}
button.loginBtn:hover {
    background: #161616;
    color: #FFF;
}
/*consu, seccion slide y recommended*/
.body {
    background-color: #bbb;
  }

  .container--head {
    background: #a090a5;
  }

  .tooltip-carousel {
    position: absolute;
    z-index: 11;
    border-radius: 50%;
  }

  .caraousel-tooltip-item {
    display: none;
  }

  .caraousel-tooltip-item.active {
    display: block;
  }
.carousel-caption {
    color: #fff;
    font-family: 'Spicy Rice', cursive;
    font-size: 10vh;


}
.carousel-inner>.item>img {
    line-height: 1;
    padding: 1vh;
}

img{
  display:block;
  margin:auto;

}
.titleCarrousel{
  font-family: 'Spicy Rice', cursive;

}
.titleCategories{
  text-align: center;
  font-family: 'Spicy Rice', cursive;
}
/*carrusel hasta aca*/
#recommended{
  text-align: center;
  /*font-family: 'Spicy Rice', cursive;*/
}
.opinion{
  color:white;
}
.logo{
  font-family: 'Spicy Rice', cursive;
}
.mobilRecommended{
  color: white;
}

/*consu, seccion slide y recommended*/
